<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>edit</title>
    </head>
    <body style="background-color: lightgray;">
        <div>
                <h2>자격증 내용 수정</h2>
        </div>
        <div>
            <form action="/certification/<%=post.seq%>/edit" method="POST">
                <h4> 자격증 이름 </h4>
                <input type="text" name="cert_name" value="<%= post.cert_name %>">
                <br>
                <h4> 자격증 번호 </h4>
                <input type="text" name="cert_num" value="<%= post.cert_num %>">
                <br>
                <h4> 발급기관 </h4>
                <input type="text" name="issuing_org" value="<%= post.issuing_org %>">
                <br>
                <h4> 발급일자</h4>
                <input type="text" name="issuing_date" value="<%= post.issuing_date %>">
                <br>
                <h4> 만료일자 </h4>
                <input type="text" name="expiration_date" value="<%= post.expiration_date %>">
                <br>
                <h4> 작성자 id </h4>
                - 확인을 위하여 본인 아이디를 한번 더 입력해주세요 <br>
                <input type="text" name="user_id">
                <br><br>
                <a href=> <input type="submit" value="변경 저장"> </a>
            </form>
        </div>
        <div style="text-align: center;">
                <a href='/certification'> <input type="button" value="목록으로 돌아가기"> </a>
        </div>
    </body>
</html>